<div class="home-banner">
  <h1>ReSleeve</h1>
</div>
<div class="container main-list">
  <% @bodies.each do |body| %>
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 card">
        <div class="upvote">
          <% [1,2,3,4,5].sample.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <div>
          <p><%= body.price_per_day %>€/day</p>
        </div>
        <img class= "picture" src='http://t2.gstatic.com/images?q=tbn:ANd9GcTQAyGur4I5mDxm8MOht3DJi3SRyJHIKIkHBJYAPxr_p2UlCLwc'>
        <div class="info">
          <h2><%=  link_to body.title, body_path(body.id) %></h2>
          <p><%= body.location %></p>
        </div>
        <% if current_user == body.user %>
          <div class="delete">
            <%= link_to body_path(body.id),
            method: :delete,
            data: { confirm: "Are you sure?"} do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
