<div class="container">

  <h1><%= @conversation.booking.body.title %></h1>

  <div class='messages'>
    <% @conversation.messages.each do |message| %>

      <%= render 'messages/show', message: message %>

    <% end %>
  </div>
  <%= render 'messages/form', conversation: @conversation, message: @message %>
</div>
