<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url('https://images.unsplash.com/photo-1500004621732-74cd4ad4d53e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32fa64a2e096b05b95c10eb31cc9b118&auto=format&fit=crop&w=2849&q=80');">

  <div class="banner-content">

    <h1 class="text-left">ReSleeve</h1>
    <p class="text-left">Book unique bodies all over the world.</p>


  </div>
  <div class="fb-btn">
    <div class="fb-messengermessageus"
      messenger_app_id="312872685913287"
      page_id="177434036302448"
      color="blue"
      size="xlarge">
    </div>
  </div>
  <a class= "privacy-link" href="https://docs.google.com/document/d/1adTvF1lExAd5cX9ZykQN9v7TqHw3iElCNCHeLrB_eRg/edit?usp=sharing" title="Privacy Policy">Privacy Policy</a>
</div>
