<div class="container">
  <h1>My Dashboard</h1>
  <h2>My Sleeves</h2>
  <div class="row">
    <% current_user.bodies.each do |body| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <%= render partial: "shared/card_dashboard", locals: { body: body, booking: nil, owner: true } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <h2>My Rentals</h2>
  <div class="row">
    <% current_user.bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <% body = Body.find(booking.body_id) %>
        <%= render partial: "shared/card_dashboard", locals: { body: body, booking: booking, owner: false} %>
      </div>
    <% end %>
  </div>
</div>
