/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: fixed;
  top: 80px;
  right: 30px;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.hide-btn {
  display: none !important;
}
