.title-form {
  margin-top: 66px;
  margin-bottom: 60px;
  text-align: center;
}

.myclass {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 50px;
}

.form-control {
  box-shadow: none;
}

.btn-margin {
  margin-bottom: 50px;
}

.body-title {
  margin-top: -48px;
  margin-bottom: 100px;
}
